@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
}


@model PagedList.IPagedList<PS36400_NguyenLocThong_Assignment.Models.SanPham>
@using PagedList.Mvc;

<div class="section-body">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>Quản Lí Sản Phẩm</h2>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-12 col-md-12">
                        <a asp-action="CreateSP" asp-controller="AdminQLSanPham" class="btn btn-primary">Thêm sản phẩm mới</a>
                    </div>
                </div>
                <table class="table" id="product-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Mã sản phẩm</th>
                            <th scope="col">Tên Sản Phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Hình</th>
                            <th scope="col">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="text-align: center;">
                                <th scope="row">@item.MaSp</th>
                                <td>@item.TenSp</td>
                                <td>@String.Format("{0:N0}", item.GiaSp)đ</td>
                                <td><img src="~/image/@item.HinhSp" width="100px" style="padding:15px" /></td>
                                <td>
                                    <a asp-action="EditSP" asp-controller="AdminQLSanPham" asp-route-id="@item.MaSp" class="btn btn-primary">Sửa</a>
                                    <a asp-action="DeleteSP" asp-controller="AdminQLSanPham" asp-route-id="@item.MaSp" class="btn btn-danger">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="card-body">
                    <nav style="float: right;">
                        <ul class="pagination">
                            @if (Model.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-controller="AdminQLSanPham" asp-action="IndexSP" asp-route-page="@(Model.PageNumber - 1)">Trước</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link">Trước</a>
                                </li>
                            }
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" asp-controller="AdminQLSanPham" asp-action="IndexSP" asp-route-page="@i">@i</a>
                                </li>
                            }
                            @if (Model.HasNextPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-controller="AdminQLSanPham" asp-action="IndexSP" asp-route-page="@(Model.PageNumber + 1)">Sau</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link">Sau</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

